name: Run Python Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12, 3.13]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Start sysmon daemon with coverage
        run: |
          coverage run --parallel-mode sysmon_sdk/daemon.py &
          sleep 2

      - name: Run tests with coverage
        run: coverage run --parallel-mode -m pytest

      - name: Combine coverage reports
        run: coverage combine

      - name: Generate HTML coverage report
        run: coverage html

      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: htmlcov
          path: htmlcov

